@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,300;1,400;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    max-width: 100%;
    font-family: 'Poppins', sans-serif !important;
}

:root {
    --bg-primary: #ECD5C6;
    --bg-secondary: #C0D1D9;
    --bg-gray: #F9F8F8;
    --btn-primary: #FCC94E;
    --btn-secondary: #4F4F4F;
    --btn-primary-hover: #caa03e;
}


.leaf-right {
    position: absolute;
    left: 84%;
    top: 25%;
    bottom: 0%; 
    right: 0;
}

.leaf-left {
    width: 600px;
    position: absolute;
    left: -28%;
    top: 178%;
    bottom: 0%;
    right: 100%;
}

.leaf-right, .leaf-left {
    display: inline;
    z-index: -1;
    overflow: hidden;
}      

a, li {
    text-decoration: none !important;
    list-style: none !important;
}

.ml-50 {
    margin-left: 150px;
}

.ml-20 {
    margin-left: 20px;
}

.mb-20 {
    margin-bottom: 50px;
}

.mt-40 {
    margin-top: 100px;
}

.item-center {
    margin: 0 auto;
}

.secondary-button {
    background-color: var(--btn-secondary);
    color: white;
    border: none;
    width: 120px;
    padding: 5px 0px;
    text-align: center;
    border-radius: 20px;
    font-weight: 600;
}

.app-right > a:hover {
    color: white;
}

.primary-button {
    padding: 10px 0px;
    color: white;
    background-color: var(--btn-primary);
    border: none;
    border-radius: 5px;
    width: 180px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

/* ini untuk navbar */
.app-bar {
    padding: 20px 50px;
    display: flex;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.app-bar-pink > .app-left > a {
    color: black;
}

.app-bar > .app-left > a {
    color: black;
}

.shadow-bottom {
    box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.1);
}

.app-bar-pink {
    padding: 20px 50px;
    display: flex;
    background-color: var(--bg-primary);
    width: 100%;
    position: fixed;
    z-index: 999;
}

.app-left, .app-middle, .app-right {
    width: 100%;
}

.app-left {
    display: flex;
    align-items: center;
}

.app-left a {
    margin-right: 45px;
}

.app-items {
    display: flex;
    align-items: center;
}

.app-item {
    margin-right: 10px;
}

.app-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cart {
    margin-right: 20px;
}

.menu {
    display: none;
}

/* ini untuk header hero */
.hero {
    height: fit-content;
    background-color: var(--bg-primary);
    position: relative;
}

.hero .primary-button {
    margin-left: 150px;
    margin-bottom: 50px;
}

.hero > .title {
    padding: 60px 100px 30px 0px;
    padding-left: 150px;
    width: 50%;
    color: white;
}

.title {
    font-size: 45px;
}

.serum-img {
    position: absolute;
    max-width: 600px;
    top: -60px;
    bottom: 0;
    right: 0;
    left: 50%;
}


.product {
    box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.1);
}

.new-products {
    margin-top: 200px;
}

.featured-product {
    background-color: var(--bg-primary);
    color: white;
}

.testimonial {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-primary);
}

.testimonial-items {
    display: flex;
    justify-content: center;
}

.testi-left, .testi-right {
    padding: 20px 100px;
}


.testi-text {
    padding: 20px 0px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.sertification {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sertification-items {
    display: flex;
}

.serti-left, .serti-right {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serti-img {
    margin: 0px 20px;
}

.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secondary);
}

.footer-left > a {
    color: black;
}

.footer-items {
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.footer-img {
    position: relative;
    right: 9px;
}

.copyright {
    padding-top: 20px;
    padding-left: 20px;
}

/* this is css for product page */
.search-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0px;
    position: relative;
}

.search-header > img {
    position: absolute;
    width: 20px;
    right: 30px;
}

#search {
    background-color: var(--bg-gray);
    border: none;
    padding: 10px;
    color: black;
    border-radius: 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bebcbc;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bebcbc;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #bebcbc;
  }

.product-item {
    margin-bottom: 60px;
}

.product-img {
    max-width: 80%;
}

.product-img:last-child {
    margin-top: 0px;
    margin-bottom: 80px;
}

.text-wrapper {
    text-align: center;
    padding: 20px 0px;
}

.text-wrapper > a {
    text-align: center;
}

.text-wrapper > a:hover {
    color: white;
}


.text-wrapper > p {
    margin: 0px !important;
}

.text-wrapper > button {
    margin: 20px 0px;
}

/* end of product page */

.primary-button:hover {
    background-color: var(--btn-primary-hover);
}

/* ini styling untuk blog */
.blog {
    margin-top: 30vh;
    margin-bottom: 10vh;
}

.blog-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh 0px;
}

.blog-img {
    width: 350px;
    z-index: 9;
}

.blog-content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.blog-content-wrapper .title {
    font-size: 40px;
    line-height: 114.5%;
}

.blog-content-wrapper p {
    font-size: 14px;
    margin: 30px 0px;
}

.blog-content-wrapper > a {
    text-align: center;
}

.blog-content-wrapper > a:hover {
    color: white;
}

.mobile {
    display: none;
}
/* akhir styling untuk blog */

.about {
    margin-top: 20vh;
    margin-bottom: 10vh;
    padding: 20px;
}

.about-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.align-left {
    align-items: center;
}

.about-title {
    padding: 10px 0px;
}

.about-paragraph{
    padding: 10px 0px;
}

.pink-color {
    color: #D09B9C;
    font-style: italic;
}

.sosmed-img {
    width: 30px;
    margin-right: 15px;
}

.privacy-policy, .terms-and-conditions {
    margin: 20vh 0vh;
}

.privacy-policy > .container > section {
    margin-bottom: 40px;
}

.privacy-policy > .container > section > p {
    margin-bottom: 10px;
}

.terms-and-conditions > .container > section {
    margin-bottom: 40px;
}

.terms-and-conditions > .container > section > p {
    margin-bottom: 10px;
}

.blog-detail {
    margin: 30vh 0vh;
}

.blog-heading-img {
    width: 100%;
}

.blog-heading-title {
    padding: 40px;
    margin: 40px 0px;
}

.blog-body > .sub-title {
    margin-bottom: 30px;
}

.blog-body > p {
    margin-bottom: 40px;
}

.product-detail {
    padding: 20px;
    margin-top: 30vh;
    margin-bottom: 10vh;
}

.product-testimonial {
    margin-top: 100px;
}

.star {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.product-detail-title {
    font-size: 50px;
    font-weight: 600;
    color: #4F4F4F;
    letter-spacing: 5px;
}

.red-color {
    color: #B05D6C;
}

.product-description {
    margin-top: 60px;
}

.description-title {
    font-weight: 600;
    letter-spacing: 2px;
}

.testi-card {
    background-color: #F9F8F4;
    margin: 35px 0px;
}

.profile-img {
    width: 100px;
}

.open-sans {
    font-family: 'open-sans', sans-serif;
}

.like, .profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media screen untuk navbar */
@media only screen and (max-width: 780px) {
    .leaf-right, .leaf-left {
        display: none;
    }
    .menu {
        display: block;
    }
    .app-left {
        display: none;
    }
    .app-middle {
        justify-content: flex-start;
    }
    .serum-img {
        display: none;
    }

    .app-bar {
        padding: 10px;
    }
    
    .hero >.title {
        padding: 50px;
        width: 100%;
    }

    .hero {
        height: 90vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column ;
        text-align: center;
    }

    .featured-product {
        text-align: center;
        padding: 0px !important;
    }

    .hero .primary-button {
        text-align: center;
        margin: 0 auto;
    }

    .button-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .testi-left > img, .testi-right > img {
        width: 20px;
    }

    .testimonial {
        padding: 20px 40px;
    }

    .testi-text > h3{
        font-size: 10px;
        padding: 0px 20px;
    }

    .testi-left, .testi-right {
        padding: 0;
        margin: 0;
        display: flex;
    }

    .testi-left {
        align-items: flex-start;
        margin-top: 20px;
    }

    .testi-right {
        align-items: flex-end;
        margin-bottom: 20px;
    }

    .testimonial-items {
        display: flex;
        flex-direction: row !important;
        width: 100%;
    }

    .title {
        font-size: 35px;
    }

    .fp-desc {
        color: #4F4F4F;
    }

    .small {
        font-size: 25px !important;
    }

    .serti-left > img, .serti-right > img {
        width: 120px;
    }
    .ml-50 {
        margin-left: 50px;
    }

    .featured-product .primary-button {
        margin-bottom: 40px;
    }

    .sertification-items, .testimonial-items {
        flex-direction: column;
    }

    .footer-items {
        flex-direction: column;
    }

    .search-header {
        justify-content: center;
    }

    #search {
        width: 100%;
    }

    /* blog */
    .blog {
        margin-top: 20vh;
    }

    .blog-item {
        flex-direction: column;
        margin: 0;
        margin-bottom: 30px;
    }

    .blog-content-wrapper {
        padding: 20px;
    }
    .blog-content-wrapper .title {
        font-size: 18px;
    }

    .blog-content-wrapper p {
        margin: 10px 0px;
        margin-bottom: 30px;
    }

    .blog-img {
        width: 150px;
    }
    /* end blog */

    .mobile {
        display: block;
    }

    .about-items {
        flex-direction: column-reverse;
    }

    .about-item {
        padding: 10px;
        width: 100%;
        justify-content: flex-start;
    }

    .align-left {
        align-items: left !important;
    }

    .about-title {
        font-size: 28px;
        text-align: center;
    }
    .logo-about {
        width: 200px;
    }

    .web {
        display: none;
    }

    .blog-detail {
        margin: 20vh 0vh;
        margin-bottom: 0;
    }

    .blog-heading-title {
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 20px;
        font-size: 20px;
    }

    .blog-heading-img {
        height: 300px;
        object-fit: cover;
    }
    .blog-heading, .blog-body {
        padding: 20px;
    }

    .blog-body > p {
        text-align: justify;
        text-align-last: left;
    }

    .product-detail {
        margin-top: 15vh;
    }

    .product-detail-title {
        margin-top: 20px;
        font-size: 25px;
    }

    .body {
        padding: 10px;
    }

    .product-detail-img {
        width: 95%;
    }

    .description-title {
        padding: 0px 10px;
    }

    .text-detail-wrapper {
        padding-left: 20px !important;
    }

    .testi-top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
    }

    .testi-top > * {
        margin-right: 20px;
    }

    .profile-img {
        width: 50px;
    }

    .like-img {
        width: 35px;
    }

    .like {
        justify-content: flex-end;
    }

    .profile {
        justify-content: flex-start;
        padding-bottom: 20px;
    }
    .profile > img {
        margin-right: 20px;
    }

    .product-price {
        font-size: 40px;
    }

    .rating {
        font-size: 10px;
    }

    .serum-img-mobile {
        width: 500px;
        top: 48%;
        bottom: 0%;
        left: -22%;
        display: block;
        position: absolute;
        right: 0%;
    }
}